<!doctype html>

<head>
    <title>{{hits|length}} {{date}}</title>
    {% if hits|length == 0 %}
    <link rel="icon" type="image/x-icon" href="/static/blank.png">
    {% else %}
    <link rel="icon" type="image/x-icon" href="/static/green.png">
    {% endif %}
    <style>
        <!--
        .containers {
            display: flex;
        }

        .container .content {
            display: block;
            padding: 5px;
            font-family: sans-serif;
            font-size: 0.8em;
        }

        .container .header {
            background: #ccc;
            margin-top: 10px;
        }

        .namehits1 {
            background: #ccc;
        }

        .namehits2 {
            background: #fdd;
        }

        .namehits3 {
            background: #fcc;
        }

        .namehits4 {
            background: #fbb;
        }


        .datehits1 {
            background: #cfc;
        }

        .pageinput {
            width: 100px;
            font-family: monospace;
        }

        .nameinput {
            width: 350px;
            font-family: monospace;
        }
        -->
    </style>
    <script language="javascript">

        const regexp = /\s*[\*°\"•♦»\^■]?([^,]*),([^,]*)/;

        function toTitleCase(str) {
            return str.replace(
                /\w\S*/g,
                function (txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                }
            );
        }

        document.addEventListener('DOMContentLoaded', function () {

            const boxes = document.querySelectorAll('.container .header');

            boxes.forEach(box => {
                box.addEventListener('click', function handleClick(event) {
                    toggle(event.target);
                    box.setAttribute('style', 'background-color: yellow;');
                });
            });

            const rows = document.querySelectorAll('span.row');

            rows.forEach(row => {
                row.addEventListener('click', function handleClick(event) {
                    mark_row(event.target);
                    row.setAttribute('style', 'background-color: yellow;');
                });
            });
        }, false);

        function quickstatement(book_dataset, firstname, lastname, name_string) {
            qid = book_dataset.personQid;
            console.log(document.getElementById('statements').dataset.started);
            if (qid == 'LAST' && document.getElementById('statements').dataset.started == "new") {
                fullname = toTitleCase(`${firstname} ${lastname}`);
                data = `CREATE
${qid}|Lsv|"${fullname}"
${qid}|Dsv|"svensk "
${qid}|P31|Q5
${qid}|P27|Q34
${qid}|P569|+{{date}}T00:00:00Z/11|S248|${book_dataset.qid}|S304|"${book_dataset.physicalPage}"
`
            }
            else {
                data = ''
            }
            data += `${qid}|P1343|${book_dataset.qid}|P958|"${name_string}"|P1810|"${name_string}"|P304|"${book_dataset.physicalPage}"|S854|"${book_dataset.url}"|S813|+2022-08-26T00:00:00Z/11 /* Data based on OCR-ed version from Projekt Runeberg at ${book_dataset.url} */\n`;
            return data;
        }

        function mark_row(target) {
            target = target.closest('span');
            console.log(target);
            console.log(target.innerHTML);
            no_format = target.innerHTML.replace(/<b>/g, '').replace(/<\/b>/g, '').replace(',,', ',');
            console.log(no_format);
            groups = no_format.match(regexp);
            lastname = groups[1].trim().replace(/\s+/g, ' ').replaceAll('|', 'l');
            firstname = groups[2].trim().replace(/\s+/g, ' ').replaceAll('|', 'l');
            console.log(toTitleCase(`${firstname} ${lastname}`));
            book = target.closest('div.content').parentElement.dataset;
            console.log(book);
            console.log(quickstatement(book, firstname, lastname, `${lastname}, ${firstname}`));
            add_statement(book, target.dataset, `${lastname}, ${firstname}`);
            const textarea = document.getElementById('statements');
            /* statements.value += quickstatement(book, firstname, lastname, `${lastname}, ${firstname}`); */
            renderQuickstatements();
            document.getElementById('statements').dataset.started = "old";

        }

        function add_statement(book_dataset, row_dataset, name_string) {
            table = JSON.parse(document.getElementById('statementtable').dataset.statements);
            console.log(table);
            console.log(`add_statement ${book_dataset.personQid} ${book_dataset.physicalPage}  ${row_dataset.row} ${name_string}`);
            table[book_dataset.qid] = { "book": book_dataset, "row": row_dataset.row, contents: name_string }
            console.log(table);
            document.getElementById('statementtable').dataset.statements = JSON.stringify(table);
            renderTable();
        }

        function toggle(target) {
            ele = target.parentElement.querySelector('.content');
            if (ele.style.display == "block") {
                ele.style.display = "none";
            }
            else {
                ele.style.display = "block";
            }
        }



        function renderTable() {
            hits = JSON.parse(document.getElementById('statementtable').dataset.statements);
            let table = document.createElement('table');
            for (var i in hits) {
                row_data = hits[i];
                console.log(i);
                console.log(row_data);
                let row = document.createElement('tr');
                row.innerHTML = `<td>
                    <a href="${row_data['book']['url']}">${row_data['book']['year']}</a>
                     <input class="pageinput" value="${row_data['book']['physicalPage']}">
                      <input class="nameinput" value="${row_data['contents']}" > 
                       </td>`;
                       row.dataset.book = JSON.stringify(row_data['book'])
                table.appendChild(row);
                const pageinputs = row.querySelector('input[class="pageinput"]');
                const nameinputs = row.querySelector('input[class="nameinput"]');
                pageinputs.addEventListener('blur', (event) => {
                    var row = event.target.parentElement.parentElement;
                    var bookQid = JSON.parse(row.dataset.book)['qid'];
                    var hits = JSON.parse(document.getElementById('statementtable').dataset.statements);
                    var page = row.getElementsByClassName('pageinput')[0].value;
                    var name = row.getElementsByClassName('nameinput')[0].value;
                    hits[bookQid]['contents'] = name;
                    hits[bookQid]['page'] = page;
                    document.getElementById('statementtable').dataset.statements = JSON.stringify(hits);
                    renderQuickstatements();

                });
                nameinputs.addEventListener('blur', (event) => {
                    var row = event.target.parentElement.parentElement;
                    var bookQid = JSON.parse(row.dataset.book)['qid'];
                    var hits = JSON.parse(document.getElementById('statementtable').dataset.statements);
                    var page = row.getElementsByClassName('pageinput')[0].value;
                    var name = row.getElementsByClassName('nameinput')[0].value;
                    hits[bookQid]['contents'] = name;
                    hits[bookQid]['page'] = page;
                    document.getElementById('statementtable').dataset.statements = JSON.stringify(hits);
                    renderQuickstatements();
                });

            }
            document.getElementById('statementtable').firstElementChild.replaceWith(table);
        }

        function renderQuickstatements() {
            /* const textarea = document.getElementById('statements'); */
            statements.value = ""
            hits = JSON.parse(document.getElementById('statementtable').dataset.statements);
            for (var i in hits) {
                row_data = hits[i];
                statements.value += quickstatement(row_data['book'], '', '', row_data['contents']);
            }
        }

        function clickQS() {
            qs = "https://quickstatements.toolforge.org/#/v1=" + encodeURIComponent(document.getElementById('statements').value.replaceAll('\n', '||'));
            console.log(qs);
            window.open(qs, '_blank').focus();
        }
    </script>
</head>

<body>
    <div class="containers">
        {% for hit in hits %}
        <div class="container" data-qid="{{ hit.qid }}" data-page="{{hit.page}}" data-year="{{hit.year}}"
            data-physical-page="{{hit.physical_page}}" data-person-qid="{{hit.person_qid}}" data-url="{{hit.url}}">
            <div class="header"><span>Expand</span>
                {{ hit.file }} {{ hit.page }} {{ hit.url }}
            </div>
            <div class="content" id="doc-{{ hit.id }}">
                {{ hit.contents }}
            </div>
        </div>

        {% endfor %}
    </div>
    <div id="statementtable" data-statements="{}">
        <table></table>
    </div>
    <textarea id="statements" rows="10" cols="256" data-started="new"></textarea>
    <br><br>
    <button onclick="clickQS()">To Quickstatements</button>
</body>

</html>