<html>

<head>
    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="http://127.0.0.1:5000/nondescribed/1922">Persons born in 1922 not connected</a></li>
        <li><a href="http://127.0.0.1:5000/nondescribed-test/1922">Persons born in 1922 not connected, filtered</a></li>
        <li><a href="http://127.0.0.1:5000/nondescribed-day/8/11">Persons born on August 11th not connected</a></li>
        <li><a href="http://127.0.0.1:5000/miss">Persons described by wrong source</a></li>
        <li><a href="http://127.0.0.1:5000/date/1909-07-14/Magnus%20Creutz/Q19601677">Hits for Magnus Creutz born Jul
                14th 1909 with QID</a></li>
        <li><a href="http://127.0.0.1:5000/person/ingenjör">Search for hits for string "ingenjör"</a></li>
        <li><a href="http://127.0.0.1:5000/list">List</a></li>
        </qid>
    </ul>
</body>

</html>
